<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.linkedin }}" target="_blank">linkedin</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}" target="_blank">github</a>
      <a class="sidebar-nav-item" href="mailto:{{ site.email }}" target="_blank">contact</a>
    </nav>
    <span class="sidebar-nav-item"> {{ site.email }}</span>
    <span class="sidebar-nav-item">currently v{{ site.version }}</span>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
